*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    color:#fff;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c31432, #240b36);
    padding:10px;
}
.container{
    max-width:700px;
    width:100%;
    padding:25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg, #240b36, #c31432);
}
.container .heading{
    font-size:25px;
    font-weight:500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before{
    content: ' ';
    position:absolute;
    height:3px;
    left:0;
    bottom:5;
    width:100%;
    background:linear-gradient(135deg, #71b7e6, #9b5b);
}

.container form .card-details{
    margin-top:5px;
    display:inline-block;
    flex-wrap:wrap;
    justify-content:space-between;
}
form .card-details .card-box{
    width:30%;
    margin-bottom: 5px;
    margin-right: 15px;
}
.card-details .card-box .details{
    display:flex;
    font-weight: 500;
    margin-bottom: 5px;
    
} .card-details .card-box input{
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.card-box input:nth-child(n){
    justify-content: end;
}
.card-details .card-box input:focus,
.card-details .card-box input:valid{
    border-color: #9b59b6;
}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;
}
form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .button{
    text-align: center;
}
form .button input{
    width:40%;
    outline: none;
    color:#fff;
    border:none;
    font-size:15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #240b36, #c31432);
}
form .button input:hover{
    background: linear-gradient(-135deg, #240b36, #c31432);
    
}
@media(max-width:584px){
    ..container{
        max-width: 100%;
    }
    form .card-details .card-box{
        margin-bottom:15px;
        width:100%;
    }
    form .circal-form .category{
        width: 100%;
    }
    .container form .card-details{
        max-height: 300px;
        overflow: scroll;
        
    }
    
}

































